* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 70px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #071a3b;
    padding: 10px 20px;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    color: black;
}

.logo img {
    height: 237%;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.nav-links a:hover {
    border: solid white 2px;
    border-radius: 8px;
    padding: 5px 5px ;
    color: black;
    background-color: white;
}

.content {
    margin-top: 100px;
    padding: 20px;
}

